* {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.65;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 36px;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 14px;
  line-height: 2;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.button {
  color: white;
  text-transform: uppercase;
  margin-top: 11px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 6px 20px;
  margin-right: 10px;
  display: inline-block;
  font-size: 14px;
}

.button:hover {
  color: white;
  border-color: #23b7a4;
  background-color: #23b7a4;
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

.title {
  border-left: 10px solid #e1e6ea;
  padding-left: 15px;
  margin-bottom: 47px;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.social ul li a img {
  width: 20px;
}

.social ul li a {
  margin-right: 10px;
}

.baner {
  position: relative;
  color: white;
}

.baner img {
  width: 100%;
  height: 660px;
}

.baner__title {
  margin-bottom: 16px;
}

.baner__content {
  position: absolute;
  top: 33%;
  left: calc((100% - 1140px)/2);
}

.about {
  padding: 77px 0;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__intro {
  width: 66%;
  float: left;
  margin-right: 20px;
}

.about__body {
  margin-bottom: 27px;
}

.about__social {
  margin: 48px 0 12px;
}

.about__social a img {
  margin-right: -2px;
}

.about__left {
  width: 45%;
  float: right;
  margin-top: 9px;
}

.about__left p {
  margin: 0;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.about__list img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.outeam {
  padding: 80px 0;
}

.outeam p {
  margin: 0;
  font-size: 13px;
}

.outeam h3 {
  margin: 0;
}

.outeam__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 22px;
}

.outeam__member {
  background-color: #e1e6ea;
  margin-right: 29px;
  margin-top: 7px;
  position: relative;
}

.outeam__member:nth-child(4n) {
  margin-right: 0;
}

.outeam__member:hover {
  background-color: #3a454d;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.outeam__member:hover > img {
  opacity: 0.5;
}

.outeam__social {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
}

.outeam__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outeam__social ul li:not(:last-child) {
  margin-right: 2px;
}

.outeam__member:hover .outeam__social {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.outeam__position {
  padding: 15px 20px 12px 20px;
}

.work {
  padding: 80px 0 137px 0;
  background: #3a454d;
}

.work h2 {
  color: white;
}

.work__global {
  padding: 9px 0 29px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__pic {
  position: relative;
}

.work__pic:nth-child(3n) {
  margin-right: 0;
}

@media (min-width: 768px) {
  .work__pic {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 900px) {
  .work__pic {
    margin-right: 30px;
    margin-bottom: 25px;
  }
}

.work__pic .work__where {
  background-color: #292f36;
  width: 341px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  color: white;
  position: absolute;
  top: 210px;
  opacity: 0;
}

.work__pic .work__where h3 {
  margin: 8px;
}

.work__plus {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 38%;
  left: 50%;
  opacity: 0;
}

.work__plus h2 {
  font-size: 50px;
}

.work__pic:hover .work__plus {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.work__pic:hover .work__where {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.work__button {
  margin: calc(100% - 1140px);
}

.service {
  padding: 81px 0 71px 0;
}

.service__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.service__iterm {
  width: 23%;
  margin-bottom: 86px;
}

.service__content {
  padding-top: 30px;
}

.service__disc {
  padding-top: 17px;
}

.features {
  background-color: #3a454d;
  padding: 86px 0 116px 0;
}

.features h2 {
  color: white;
}

.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__product {
  width: 100% - 3-30px/3;
  margin-right: 30px;
}

.features__content {
  color: white;
}

.features__title {
  padding-top: 47px;
}

.features__disc {
  padding-top: 19px;
}

.contact {
  padding: 66px 0 96px 0;
  position: relative;
}

.contact__location {
  width: 100%;
}

.contact__content {
  width: 50%;
}

.contact__title {
  padding-top: 55px;
  padding-left: 10px;
}

.contact__title h3 {
  text-transform: uppercase;
  font-size: 20px;
}

.contact__body {
  padding-top: 27px;
}

.contact__sent {
  background-color: #eaeef1;
  width: 553px;
  border: none;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 51%;
  margin-bottom: 50px;
}

.contact__wrap {
  padding: 20px 30px;
}

.contact__inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__tt {
  padding-left: 5px;
}

.contact__inif {
  margin-top: 4px;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 3px;
}

.contact__padl {
  margin-right: 15px;
}

.contact__padr {
  margin-left: 15px;
}

.contact__mes {
  height: 160px;
}

.contact__reflect {
  margin: 30px 0 28px;
}

.contact__btn {
  border: none;
  padding: 15px 23px;
  border-radius: 5px;
  color: white;
  background-color: #23b7a4;
}

footer {
  background-color: #3a454d;
  width: 100%;
}

footer p {
  color: white;
  font-size: 14px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px 0;
}

.header {
  background-color: #1d2126;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0 22px;
}

.header__logo {
  line-height: 0;
  margin-top: 8px;
  margin-left: 1px;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu li {
  margin-left: 10px;
}

.header__menu a {
  color: #9ba5a4;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 2px solid #1d2126;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__menu a:hover {
  border-color: #b0b5bd;
}

.header__menu a.active {
  color: #23b7a4;
  border-color: #23b7a4;
  margin-right: 30px;
}

body {
  font-size: 14px;
}

footer {
  background-color: #3a454d;
  width: 100%;
}

footer p {
  color: white;
  font-size: 14px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px 0;
}
/*# sourceMappingURL=scss.css.map */