.button {
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 17px 24px;
  margin-right: 11px;
}

.button:hover {
  border: 2px solid #23b7a4;
  background-color: #23b7a4;
}

.title {
  border-left: 10px solid #e1e6ea;
  padding-left: 10px;
  margin-top: 100px;
  margin-bottom: 60px;
}

.title--2 {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: block;
}

p {
  line-height: 1.4;
  font-size: 16px;
  margin-bottom: 32px;
}

a {
  font-size: 10px;
  text-decoration: none;
}

li {
  font-size: 10px;
}

h2 {
  font-size: 36px;
}

h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

.header {
  background-color: #1d2126;
  height: 81px;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container a {
  margin-top: 26px;
}

.header__container a img {
  height: 19px;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 26px 0px;
}

.menu li {
  list-style: none;
  padding: 8px 10px;
  border: 2px solid #1d2126;
  margin: 0 8px;
}

.menu li:hover {
  border: 2px solid #b0b5bd;
  border-radius: 5px;
}

.menu li:first-child {
  margin-left: 0px;
  border: 2px solid #23b7a4;
  border-radius: 5px;
}

.menu li:first-child a {
  color: #23b7a4;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu li a {
  color: #a4aead;
  text-decoration: none;
}

.baner {
  background: url("../img/modle/intro.png") top center/cover no-repeat;
  height: 661px;
  background-repeat: none;
}

.baner__title {
  color: white;
  padding-top: 226px;
  margin-bottom: 30px;
}

.baner__subtitle {
  color: #b0b5bd;
  margin-bottom: 41px;
}

.about {
  height: 617px;
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__intro {
  width: 55%;
  float: left;
  margin-right: 20px;
}

.about__social {
  margin-bottom: 100px;
}

.about__social a img {
  margin-top: 14px;
}

.about__step {
  width: 45%x;
  float: right;
}

.about__step__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__step__block img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.about__step__content {
  width: 30%;
}

.outeam {
  height: 648px;
}

.outeam__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.outeam__member {
  background-color: #e1e6ea;
  width: calc((100%-(30px*3))/4);
  margin-right: 29px;
}

.outeam__member:nth-child(4n) {
  margin-right: 0;
}

.outeam__disc {
  padding: 20px;
}

.work {
  height: 649px;
  background: #3a454d;
}

.work_global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=scss.css.map */