.about {
    padding: 77px 0;
    &__wrap {
        display: flex;
    }

    &__intro {
        width: 66%;
        float: left;
        margin-right: 20px;
    }

    &__body {
        margin-bottom:27px;
    }

    &__social {
        margin: 48px 0 12px;
        a  img {
            margin-right: -2px;
        }
    }

    &__left {
        width: 45%;
        float: right;
        margin-top: 9px;
        p {
            margin: 0;
        }
    }

    &__list {
        display: flex;
        margin-bottom: 30px;
        img {
            margin-right: 20px;
            width: 50px;
            height: 50px;
        }
    }
}
