$gray:#b0b5bd ;
$green: #23b7a4;
$dark: #1d2126;
$dark-blue:#3a454d;
$dark-blue:#3a454d;
$gray--title:#e1e6ea;
$gray--sent:#eaeef1;
$gray--title-dark:#4e5a62;
$gray-white:#9ba5a4;
$dark-title:#292f36;
$dark--work: #292f36;