.baner {
    position: relative;
    color: white;

    &__title {
        margin-bottom: 16px;
    }

    &__content {
        position: absolute;
        top:33%;
        left: calc((48%-1140px)/4);
    }
}