.outeam {
    padding: 72px 0 81px 0;
    
    &__team {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 17px
    }

    &__member {
        background-color: #e1e6ea;
        margin-right: 29px;
        position: relative; 

        &:nth-child(4n) {
        margin-right: 0;
        }

        &:hover {
        background-color: $dark-blue;
        color: white;
        transition: 0.5s;
        }

        &:hover img {
            opacity: 0.5;
        }
    }

    &__social {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center ;
            li:not(:last-child) {
                margin-right: 2px;
            }
        }

        position:absolute;
        top:30%;
        left: 8%;
        display: none;
    }

    &__member:hover &__social {
        display: block;
        opacity: 1;
    }

    &__position {
        padding: 15px 20px 12px 20px;
    }
  
}